@tailwind base;
@tailwind components;
@tailwind utilities;


.round-ball {
  aspect-ratio: 1 / 1;
    background: radial-gradient(63.99999863147738% 63.99999863147738% at 68.00000216245645% 35.999999043941514%,#4b4b4b 0%,rgba(1,1,1,1) 100%);
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  outline: none !important;
}

/* .sun, .moon {
  opacity: 1;
  transform: scale(1) rotate(360deg);
  transition: transform 2s ease-in, opacity 0.5s ease-in 0.5s;
} */

@layer base {

  .dark {
    @apply bg-primary-dark;
  }
}
